.container {
    width: 750px;
    background-color: #fff67c;
    border: double 10px rgb(124, 117, 10);
    font-size: 25px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 10px #00000060;
    
}

.minicontainer {
    width: 750px;
    background-color: #fff9a8;
    border: double 10px rgb(100, 94, 14);
    font-size: 25px;
    padding: 25px;
    box-shadow: 5px 10px #00000060;
    
}

.abncontainer {
    width: 750px;
    background-color: #32bef5;
    border: double 10px rgb(18, 77, 155);
    font-size: 25px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 10px #021f5c60;
    
}


.fadein{
    opacity: 0;
    animation: fadeIn 2s forwards;

}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}   

.foreground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("foreground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;   
  z-index: 9999;
  opacity: 0.45;          
}


